@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    @*<div class="col-8 col-md-8 col-lg-4 text-right">
            <a href="register.html" class="btn btn-primary btn-outline-primary rounded-0 text-white py-2 px-4">Register</a>
            <a href="register.html" class="btn btn-primary btn-primary rounded-0 py-2 px-4">Login</a>
        </div>*@
    <div class="col-8 col-md-8 col-lg-4 text-right">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "rounded-0 text-white py-2 px-4" })
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-primary rounded-0 py-2 px-4">Log off</a>
        }
    </div>
}
else
{
    <div class="col-8 col-md-8 col-lg-4 text-right">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-outline-primary rounded-0 text-white py-2 px-4" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-primary rounded-0 py-2 px-4" })
    </div>
}
